[Unit]
Description=This starts the WorkEase thread on booting.

[Service]
Type=forking
ExecStart=/usr/bin/ruby /usr/bin/run_work_ease.rb
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target