[Unit]
Description=This starts the WorkEase thread on booting.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/run_work_ease.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target